.todos_single {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.todos_single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .todos_single {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .todos_single {
    width: 100%;
  }
}
